section,
h1,
h3,
span,
figure,
img,
button {
  margin: 0;
  padding: 0;
  align-items: center;
  text-align: center;
  font-family: "IBM Plex Sans";
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  margin: 0 auto;
  margin-top: 42px;
  background-color: #000;
}

section {
  width: 1280px;
  height: 720px;
  background-color: #121214;
}

img {
  border-radius: 8px;
}

.container-logo {
    margin-top: 42px;
}

h3 {
  font-size: 32px;
  font-weight: 600;
  line-height: 42px;
  margin-top: 73px;
  color: #fff;
}

.container-total {
  display: flex;
  justify-content: center;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  margin-top: 61px;
  color: #9c9c9c;
}

li {
  margin: 0;
  padding: 0;
  margin-right: 19px;
  margin-top: 16px;
  cursor: pointer;
}

li div {
  margin-top: 16px;
}

li div:hover {
    color:#fff;
}

.effect {
    overflow: hidden;
}

.effect img {
    max-width: 100%;
	-moz-transition: all 0.3s;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}

.effect:hover img {
	-moz-transform: scale(1.1);
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}

.container-add-user {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 160px;
  height: 160px;
  background-color: #1e1e20;
  border-radius: 8px;
}

.container-add-user:hover {
    border: 2px solid #fff;
    background: rgb(44 44 44);   
}

.container-icons {
  display: flex;
  justify-content: center;
}

.container-icons:hover {
    opacity: 1.9; 
    /* background: rgb(44 44 44);  */
    border-radius: 100px;  
    /* opacity:0.65; */
	/* -moz-opacity: 0.65;
	filter: alpha(opacity=65);  */
}

.most {
    font-size: 48px;
}

.icon-row {
  position: absolute;
}

.icon-colum {
  position: absolute;
}

button {
  width: 206px;
  height: 50px;
  border: 1.5px solid #ffffff;
  border-radius: 8px;
  background-color: transparent;
  font-weight: 500;
  line-height: 21px;
  margin-top: 102px;
  color: #fff;
  transition: all 0.3s;
  cursor: pointer;
}

button:hover {
    background-color: #fff;
    color: #000;
}
